<section class="w3l-login-6">
  <div class="login-hny">
    <div class="form-content">
      <div class="form-right">
        <div class="overlay">
          <div class="grid-info-form">
            <h3>CREATE ACCOUNT </h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est natus facere aperiam!
              Tenetur maiores dolore a quod pariatur ut voluptates quae saepe ea quasi laudantium,
              iste molestias inventore fuga assumenda.</p>
            <a href="#" class="read-more-1 btn">Sign Up</a>
          </div>

        </div>
      </div>
      <div class="form-left" style="background-color: floralwhite;">
        <div class="middle">
          <h4 class="text-danger">Sign In</h4>
          <!-- <strong class="text-danger">Sign In to Your Account!</strong> -->
        </div> <br><br>
           <form [formGroup]="loginform" (ngSubmit)="onSubmit(loginform)">
              <div class="form-group">
                  <label>
                    <b>Username</b>
                  </label>
                  <input type="text" formControlName="username" placeholder="Username" class="form-control inputStyle"/>
              </div>

              <div class="form-group">
                <label>
                  <b>Password</b>
                </label>
                <input type="text" formControlName="password" placeholder="Password" class="form-control inputStyle"/>
            </div><br>

            <button type="submit" class="btn btn-danger btnSubmit">Sign in</button>
           </form><br><br><br>

      </div>

    </div>

  </div>
</section>
